<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TriggerScan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <TriggerScan.Properties.Settings>
            <setting name="Port" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="Device" serializeAs="String">
                <value>HP LaserJet M1120n</value>
            </setting>
            <setting name="DestPath" serializeAs="String">
                <value>\\one\Scan</value>
            </setting>
            <setting name="Dpi" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="WidthMM" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HeightMM" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UpdatePath" serializeAs="String">
                <value>\\one\Scan\Release</value>
            </setting>
            <setting name="AllowReboot" serializeAs="String">
                <value>True</value>
            </setting>
        </TriggerScan.Properties.Settings>
    </userSettings>
</configuration>
